
#vidi_navcontainer{
  margin: 0;
  padding:10px 0;
  border: 0;
}


#vidi_navcontainer ul
{
    margin: 0;
    padding: 1px 0 0 0;
    text-align: center;
    list-style: none;
    background: none;
    height: 50px;
    background: url('../images/grey_pix.png') repeat-x;
    background-position: 0 49px;
}

#vidi_navcontainer ul li {
    margin: 0;
    display: inline;
    list-style: none;
    list-style-type: none;
    background: none;
}


.vidi_icons{
width:135px;
padding: 5px;
border: none;
-moz-box-shadow: 4px 4px 2px #d1d1d1;
-webkit-box-shadow: 4px 4px 2px #d1d1d1;
width:100%;
}


#time_icons{

}

#geo_icons{
margin: 0 auto;
}

#classic_icons{
float:right;
}

.vidi_nav_img{
    border-top:1px solid white;
    padding:0 0 5px 0;
}

#icon_boxes{
width:670px;
margin: 0 auto;
text-align:left;
}

#icon_boxes_wrapper{
text-align:center;
width: 100%;
}

.vidi_type{
    clear: both;
    margin-bottom: 12px;
}

.vidi_type h2{
    clear: both;
    color: #555555;
    padding-bottom: 2px;
}

.vidi_type_image{
    float: left;
    width: 216px;
    border: 1px solid #cbcbcb;
    text-align: center;
}

.vidi_type_image:hover{
    border: 1px solid #2f8bb0;
}

.vidi_type_description{
    float: right;
    width: 415px;
    margin-right: 7px;
}


.detailed_description{
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;

}

.show_more{
    
}

.start_page_images{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 200px;
}

.description_item{
    line-height: 15px;
    padding: 5px 1px 2px 12px;
    display: block;
    clear: both;
}